#gameBody {
    margin: 5rem;
    width: 75%;
    height: 700px;
    background-image: url(game-landscape.jpg);
}

h2 {
    margin: 2rem;
}

#hud {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: flex-start;
    margin: 5rem;
    width: 75%;
    background-color: bisque;
    border-color: rgb(226, 170, 101);
    border: 6px;
    height: 800x;
}
.gameObject {
    width: 7rem;
    height: 7rem;
}

#dagger {
    position: relative;
    left: 35rem;
    top: 25rem;
}

#inn {
    position: relative;
    left: 25rem;
    top: 14rem;
}

#bag {
   margin: 10px;
} 